NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_razorpay_key_id
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id
NEXT_PUBLIC_WHATSAPP_NUMBER=918595995437
NEXT_PUBLIC_PHONE_1=8595995437
NEXT_PUBLIC_PHONE_2=9810709148
NEXT_PUBLIC_COMPANY_NAME=GRD Travels
NEXT_PUBLIC_COMPANY_ADDRESS=A36 Chander Vihar, Vikaspuri, Delhi - 110041
NEXT_PUBLIC_COMPANY_EMAIL=info@grdtravels.com
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key
